streamlit==1.46.0
pandas>=2.3.0,<2.4
langchain==0.1.16
langchain-community==0.0.34
langchain-core==0.1.45
langchain-groq==0.1.0
python-dotenv
Pillow
pytesseract
gTTS
supabase
PyMuPDF
faiss-cpu
sentence-transformers==2.7.0
torch==2.7.1
transformers==4.38.2
