streamlit
pandas
langchain
langchain-community
langchain-core
langchain-groq
python-dotenv
Pillow
pytesseract
gTTS
supabase
PyMuPDF
faiss-cpu==1.7.4
sentence-transformers==2.7.0
torch==2.7.1
transformers==4.38.2